<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calorie Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>실제로 섭취한 음식의 양을 gram 단위로 입력하세요.</h1>
        <form th:action = "@{/consumption/new(name = ${foodDto.name},
        calorie = ${foodDto.calorie}, size = ${foodDto.size}, foodCode = ${foodDto.foodCode})}" method="POST">
            <input type="text" name="consumption" id="consumption">
            <button type="submit">추가하기</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>
