<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>Calorie Calculator</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
        </p>
        <p class="lead">조회 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/food">오늘 먹은 음식 칼로리 알아보기</a>
        </p>
        <p class="lead">주요 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/goal/new">오늘의 목표 칼로리량 설정하기</a>
            <a class="btn btn-lg btn-primary" href="/goals">내가 세운 목표 칼로리량 조회하기</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>